[submodule "LATEST/ref/Swc_Foc"]
	path = LATEST/ref/Swc_Foc
	url = git@github.com:NAAGRAAJ-HM/Swc_Foc.git
[submodule "LATEST/ref/Rte"]
	path = LATEST/ref/Rte
	url = git@github.com:NAAGRAAJ-HM/Rte.git
[submodule "LATEST/ref/AUTOSAR_Bsw"]
	path = LATEST/ref/AUTOSAR_Bsw
	url = git@github.com:NAAGRAAJ-HM/AUTOSAR_Bsw.git
[submodule "LATEST/ref/Swc_EcuM"]
	path = LATEST/ref/Swc_EcuM
	url = git@github.com:NAAGRAAJ-HM/Swc_EcuM.git
[submodule "LATEST/ref/Swc_Os"]
	path = LATEST/ref/Swc_Os
	url = git@github.com:NAAGRAAJ-HM/Swc_Os.git
